<!DOCTYPE html>
<html>
<head>
    <title>Hello work</title>
    <script src="js/underscore.js"></script>
    <script data-main="js/main.js" src="js/require.js"></script>
</head>
<body>
    <div id="content"></div>
    <script type="text/html" id="q-tmpl">
        <div>
            <b><%= question %></b>
            <br/>
            <ul>
            <% _.each(answers, function(text, i) { %>
                <li><input type="radio" value='<%= points[i] %>'><%= text %></li>
            <% }); %>
            </ul>
        </div>
    </script>
    <script type="text/html" id="a-tmpl">
        <div>
            <b>Баллы:</b>&nbsp;<%= points %><br/><b>Результат:</b>&nbsp; <%= grade %>
        </div>
    </script>
</body>
</html>
